/* --------------------------
   -- PRESET ELEMENTS
   -------------------------- */
body {
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 16px;
}   
.h1, .h2, .h3, .h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0px !important;
  font-weight: 700;
}
.btn, 
.field {
  margin-top: 20px;
}
.hv-relative {
  position: relative; 
}
.hv-absolute {
  position: absolute; 
}
.hv-inline-block {
  display: inline-block;
}
.hv-align-center {
  text-align: center; 
}
.hv-absolute-center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.hv-blue { 
  color: #0000ff;
}
.hv-gray {
  color: #aaa;
}
.hv-dark-gray {
  color: #333;
}
.hv-white {
  color: white;
}
.hv-bg-blue { 
  background-color: #0000ff;
}
.hv-bg-light-gray { 
  background-color: #eee;
}
.hv-bg-dark-gray { 
  background-color: #333;
}
.hv-bg-white {
  background-color: white;
}
.hv-section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hv-shadow {
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

/* --------------------------
   -- CUSTOM ELEMENTS
   -------------------------- */
   
/* Browser Box */
.hv-browser-nav {
  max-width:800px;
	min-width:600px;
	width: 60vw;
	height:32px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	background-color:#ccc;
	margin: 0 auto;
}
.hv-browser-btn {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 0px 10px 10px;
}
.hv-browser-body {
  max-width: 800px;
  min-width:600px;
  width: 60vw;
  height: 400px;
  border: 2px solid #ccc;
  margin: 0 auto;
}
.hv-browser-page {
	width: 97%;
	height: 95%;
	padding: 2.5%;
	background-color: #ffdc29;
}

/* Mobile Box */
.hv-mobile-box {
  position: absolute;
	top: 160px;
	right: 50%;
	transform: translateX(-130%) !important;
}
.hv-mobile {
	border-radius: 24px;
	width: 194px;
	height: 400px;
	background-color: #ccc;

  /* border-radius */
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
  -moz-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
  box-shadow: rgba(0,0,0,0.3) 2px 2px 6px; 
}
.hv-mobile-screen {
	background-color: white;
	margin: 50px 7px;
	width: 180px;
	height: 300px;
}
.hv-mobile-content {
	background-color: #ffdc29;
	width: 90%;
	height: 93%;
	margin: 5%;
}
.hv-mobile-home-btn {
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 32px;
	border: 2px solid white;
	border-radius: 50%;
}

/* ecommerce modal */
.hv-ecommerce-box {
  position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(24%) !important;
}
.hv-ecommerce-nav {
  width:360px;
	height:32px;
	background-color: white;
}
.hv-ecommerce-content {
	width:360px;
	height: 100px;
	background-color: #ffdc29;
}
.hv-ecommerce-content-circle {
  border-radius:50%;
	background-color:#333;
	margin: 20px;
	width: 60px;
	height: 60px;
}
.hv-ecommerce-content-text {
  padding-top: 30px;
  vertical-align: top;
}
.hv-vi-content {
  height: 80vh;
}
.hv-vi-text {
  height: 560px;
	background-size: 100%;
	background-position-x: 0px;
	background-attachment: fixed;
	background-color: blue;
	background-image:url('../images/bg-pinkhouse.png'); 
}

/* BI browser */
.hv-bi-box {
  
}
.hv-bi-nav {
	max-width:960px;
	width: 80vw;
	height: 32px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	background-color:#ccc;
	margin: 0 auto;
}
.hv-bi-page {
	max-width:960px;
	width: 80vw;
	height: 500px;
	border: 2px solid #ccc;
	background-color: white;
	margin: 0 auto;
}
.hv-bi-content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 97%;
	height: 95%;
	background-color: #eee;
}
.hv-bi-image {
  background-color: white;
  width: 240px;
  height: 160px;
  margin: 10px 10px 0px 0px;
  display: inline-block;
}
.hv-bi-image img {
  width: 100%;
}
.hv-service-icon {
  background-color: #333;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-right: 20px;
  position: relative;
}
.hv-service-icon img {
  width:60px;
  height:60px;
  margin: 10px;
}
.hv-service-text {
  width: 180px;
}
.hv-service-icon ,
.hv-service-text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
  margin-bottom: 40px;
}

.hv-contact-section {
  height: 80vh;
  min-height: 500px;
}
.hv-form-wrapper {
  width:70vw;
  min-width:300px;
  max-width:600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.field.warning{
  border: 2px solid red; 
}

.hv-mission,
.hv-who {
  height: 560px;
}

.hv-mission-content,
.hv-who-content {
  width: 60%;
}




















